<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" type="text/css" href="asset/css/style.css">
  <link rel="stylesheet" type="text/css" href="asset/css/style.css">

  <title>Home Page</title>
</head>
{{!-- Navbar --}}
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
 <form class="form-inline">
    <button class="btn btn-outline-success" type="button">Browse By Item</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Your Items</button>
  </form>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
      
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
  Log In | Register
</button>
    </form>
  </div>
</nav>
  </header>
<body>
  {{{body}}}


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
