     <body>
     {{{body}}} 
    <div id="headerwrap">
      <div class="container">

                <div class="row">
                    <div class="col-lg-8 offset-2" id="welcometext">
                        <h1 class="title">Lend &#038; Borrow</h1>
                        <h4 class="text">welcome to the community ToolBox</h4>
                    </div>

                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /headerwrap -->
<div class="col-lg-8 offset-2" id="newitem">
 <h4>Newly Listed  Items</h4>
  </div>
<div class="card-deck">
  <div class="card">
    <a  data-toggle="modal" data-target="#loginModal"><img src="https://images.pexels.com/photos/2895148/pexels-photo-2895148.jpeg?cs=srgb&dl=analog-photography-analogue-aperture-2895148.jpg&fm=jpg" class="card-img-top" alt="camera"></a>
    <div class="card-body">
      <h5 class="card-title">COSINA Camera</h5>
      <p class="card-text">High quality camera with availible film.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
      <a  data-toggle="modal" data-target="#loginModal"><img src="https://images.pexels.com/photos/2918997/pexels-photo-2918997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="audio"></a> 
    <div class="card-body">
      <h5 class="card-title">Audio Material</h5>
      <p class="card-text">Professional audio material.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 4 mins ago</small>
    </div>
  </div>
  <div class="card">
    <a  data-toggle="modal" data-target="#loginModal"><img src="https://images.pexels.com/photos/1148963/pexels-photo-1148963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="cloths"></a> 
    <div class="card-body">
      <h5 class="card-title">Sewing Machine</h5>
      <p class="card-text">Need to sew a project?</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 6 mins ago</small>
    </div>
  </div>
</div>




</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="/js/index.js"></script> --}}

