    <body>
     {{{body}}} 

       <!-- //Container that holds everything// -->
  <div class="container">
    
 
   <div class="row">
     <div id="first" class="col-md-3 col-sm-12">
   <h4>TOOLS</h4>
   <a href="/select"><img class="pic" src="https://images.pexels.com/photos/162553/keys-workshop-mechanic-tools-162553.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></a></div>
   <div class="col-md-3 col-sm-12">
   <h4>AUTO</h4>
   <a href="/select"><img class="pic" src="https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></a></div>
   <div class="col-md-3 col-sm-12">
   <h4>MUSIC</h4>
<<<<<<< HEAD
   <a href="#"><img class="pic" src="https://images.pexels.com/photos/65718/pexels-photo-65718.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" src=""></a></div>
   <div id="first" class="col-md-3 col-sm-12">
    <h4>PHOTOGRAPHY</h4>
   <a href="#"><img class="pic" src="https://images.pexels.com/photos/1655271/pexels-photo-1655271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></a></div>
   <div id="first" class="col-md-3 col-sm-12">
   <h4>SEWING</h4>
   <a href="#"><img class="pic" src="https://images.pexels.com/photos/1232131/pexels-photo-1232131.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></a></div>
   <div id="first" class="col-md-3 col-sm-12">
   <h4>BOOKS</h4>
   <a href="#"><img class="pic" src="https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></a></div>
=======
   <a href="/select"><img class="pic" src="https://images.pexels.com/photos/65718/pexels-photo-65718.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" src=""></a></div>
   <div id="first" class="col-md-3 col-sm-12">
    <h4>PHOTOGRAPHY</h4>
   <a href="/select"><img class="pic" src="https://images.pexels.com/photos/1655271/pexels-photo-1655271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></a></div>
   <div id="first" class="col-md-3 col-sm-12">
   <h4>SEWING</h4>
   <a href="/select"><img class="pic" src="https://images.pexels.com/photos/1232131/pexels-photo-1232131.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></a></div>
   <div id="first" class="col-md-3 col-sm-12">
   <h4>BOOKS</h4>
   <a href="/select"><img class="pic" src="https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></a></div>
>>>>>>> dbf7978b610da4711ae8f461711410eb659079c1
   </div>
   </div>
          

     </body>