  <body>
     {{{body}}} 

       <!-- //Container that holds everything// -->
  <div class="container">
    
 
   <div class="row">
     <div id="first" class="col-md-3 col-sm-12">
   <h4>TOOLS</h4>
   <a href="/select"><img class="pic" src="https://images.pexels.com/photos/162553/keys-workshop-mechanic-tools-162553.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></a></div>
   <div class="col-md-3 col-sm-12">
   <h4>AUTO</h4>
   <a href="#"><img class="pic" src="https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></a></div>
   <div class="col-md-3 col-sm-12">
   <h4>MUSIC</h4>
   <a href="#"><img class="pic" src="../public/assets/acoustics-bass-guitars-black-and-white-65718.jpg" src=""></a></div>
   <div id="first" class="col-md-3 col-sm-12">
    <h4>PHOTOGRAPHY</h4>
   <a href="#"><img class="pic" src="../public/assets/camera-camera-equipment-camera-lens-1655271.jpg"></a></div>
   <div id="first" class="col-md-3 col-sm-12">
   <h4>SEWING</h4>
   <a href="#"><img class="pic" src="../public/assets/arts-and-crafts-bobbin-buttons-1232131.jpg"></a></div>
   <div id="first" class="col-md-3 col-sm-12">
   <h4>BOOKS</h4>
   <a href="#"><img class="pic" src="../public/assets/bookcase-books-bookshelves-159711.jpg"></a></div>
   </div>
   </div>
          

     </body>
