
<div class="container borrower-container">
	<h1 class="text-center borrower-title">Contact Information for This Borrower</h1>
	<h2 class="text-center">Username: {{borrower.username}}</h2>
	<h2 class="text-center">Email: {{borrower.email}}</h2>

  	<p class="text-center">
     <a class="btn btn-default btn-dash" href="/dashboard">
     Back to Dashboard
     </a>
	</p>

</div>

