

<ul>
  {{#each wish}}
  	<li>
  	   <p>wish number {{this.id}}</p>
       <p>WISH: {{this.wish}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="wish"></textarea>

	<button type="submit">Submit</button>
</form>

{{!-- //just place holder// --}}